html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  /*background: #f0f4f5;*/
  background: #efefef;
}

.hidden {
    display: none;
}

a {
    font-size: 0.7em;
    color: #e3745d;
    cursor: pointer;
}

a:hover {
    color: #d05b43;
}

.add {
    color: #63D6C5;
}

.remove {
    color: #e3745d;
}

.button-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

button {
    background: #e3745d;
    border: 0;
    border-radius: 1em;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    padding: 0.2em 1em 0.4em 1em;
    margin-top: 1em;
}

button:hover {
    transform: scale(1.02);
}

button:active {
    transform: scale(.99);
}

input[type=text], input[type=password] {
    outline: none;
    border: 0;
    color: #555;
    background: transparent;
    min-width: 13em;
}

.input {
    border-bottom: 2px solid #aaa;
    padding: 0.5em 0;
    color: #888888;
}

.notification {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em 0;
    background: #e6aa61;
    color: white;
    font-size: 0.8em;
}

.dashboard-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.settings-interface {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    color: #444;
    width: 100%;
    margin-bottom: 3%;
}

.settings-interface .fa {
    padding: 1em 1em 0 0;
    cursor: pointer;
}